@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
body{
    background-color: rgba(6, 1, 1, 0.9);
}
header{
    width: 100%;
    height: 30%;
    background-color: #0e0000;

}
nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #0e0000;
}
nav ul li{
    list-style: none;
    padding: 25px;
    background-color: #0e0000;
    font-size: 20px;
    font-weight: bolder;
}
nav ul li.nav1{
    color: #443434;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
}
nav ul li.nav{
    font-weight: bold;
    font-family: 'Inter', sans-serif;
}
nav ul li.logo{
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    color: #E8D1D1;
}
section.slider{
    display: flex;
    flex-direction: row;
    padding: 15px;
    justify-content: space-around;
}
section.slider .slide0{
    height: 80px;
    width: 80px;
    margin: 2px;
    border-radius: 50%;
}
section.slider .slide1{
    background: url(./img/Blackhat_poster.jpg) 50% 50%;
    background-size: cover;
}
section.slider .slide2{
    background: url(./img/robot.jpg) 50% 50%;
    background-size: cover;
}
section.slider .slide3{
    background: url(./img/openwindows.jpg) 50% 50%;
    background-size: cover;
}
section.slider .slide4{
    background: url(./img/hac.jpg) 50% 50%;
    background-size: cover;
}
section.slider .slide5{
    background: url(./img/hacker.webp) 50% 50%;
    background-size: cover;
}
section.slider .slide6{
    background: url(./img/garage.jpg) 50% 50%;
    background-size: cover;
}
section.slider .slide7{
    background: url(./img/hac.jpg) 50% 50%;
    background-size: cover;
}
section.slider .slide8{
    background: url(./img/haker.jpg) 50% 50%;
    background-size: cover;
}
section.slider .slide9{
    background: url(./img/hackeree.jpg) 50% 50%;
    background-size: cover;
}
section.slider .slide10{
    background: url(./img/robot.jpg) 50% 50%;
    background-size: cover;
}
section.slider .slide11{
    background: url(./img/hac.jpg) 50% 50%;
    background-size: cover;
}
section.slider .slide12{
    background: url(./img/hacker.webp) 50% 50%;
    background-size: cover;
}
section.slider .slide13{
    background: url(./img/garage.jpg) 50% 50%;
    background-size: cover;
}
section.slider .slide14{
    background: url(./img/hac.jpg) 50% 50%;
    background-size: cover;
}
.direction svg.droit{
    position: absolute;
    top: 16%;
    right: 1%;
    stroke: #e8d1d1;
}
.direction svg.gauche{
    position: absolute;
    top: 16%;
    left: 1%;
    stroke: #e8d1d1;
}

section.plan{
    display: grid;
    grid-template-columns: 18% 80%;
    grid-gap: 2%;
    padding: 15px;
}
section.plan .titre{
    grid-column: 2;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 15px;
}
section.plan .gauche{
    background-color: #0e0000;
    border-radius: 10px;
    padding: 15px;
    align-self: start;
}
section.plan .gauche .genre_film h2,
section.plan .gauche .annee h2{
    font-size: 16px;
    text-transform: uppercase;
    text-indent: 10px;
    margin-bottom: 5px;
}
section.plan .gauche .genre_film svg.c1{
    position: absolute;
    top: 271px;
    left: 209px;
}
section.plan .gauche .genre_film svg.c2{
    position: absolute;
    top: 259px;
    left: 209px;
}
section.plan .gauche .annee svg.c1{
    position: absolute;
    top: 514px;
    left: 134px;
}
section.plan .gauche .annee svg.c2{
    position: absolute;
    top: 502px;
    left: 134px;
}
section.plan .gauche .genre_film .ca1{
    position: absolute;
    top: 271px;
    left: 209px;
}
section.plan .gauche .genre_film svg.ca2{
    position: absolute;
    top: 259px;
    left: 209px;
}
section.plan .gauche .annee svg.ca3{
    position: absolute;
    top: 302px;
    left: 134px;
}
section.plan .gauche .annee svg.ca4{
    position: absolute;
    top: 290px;
    left: 134px;
}
section.plan .gauche .annee p{
    margin-bottom: 10px;
}
section.plan .gauche .images{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
section.plan .gauche .images .img1,
section.plan .gauche .images .img2{
    width: 90px;
    height: 90px;
    border-radius: 5px;
}
section.plan .gauche .images .img1{
    background: url(./img/bandit.jpg) 50% 50%;
    background-size: cover;
    margin-right: 8px;
}
section.plan .gauche .images .img2{
    background: url(./img/haker.jpg) 50% 50%;
    background-size: cover;
}
section.plan .menu {
    display: none;
}
section.plan .gauche .genre_film main{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bolder;
}
section.plan .gauche .genre_film p{
    text-transform: capitalize;
}
section.plan .gauche .annee h2{
    margin-top: 15px;
}
section.plan .gauche .annee p{
    font-size: 20px;
    font-weight: bolder;

}
section.plan .droit{
    display: grid;
    grid-template-columns: repeat(auto-fill,250px);
    width: 100%;
    grid-gap: 1%;
    justify-content: center;
}
section.plan .droit .film{
    display: grid;
    grid-template-columns: 55% 45%;

}
section.plan .droit img{
    width: 130px;
    border-radius: 10px;

}
section.plan .droit .text h1{
    text-transform: uppercase;
    font-size: 13px;
    padding: 8px;
}
section.plan .index3 .text h1{
    grid-column: 2;
    text-transform: uppercase;
    font-size: 13px;
    padding: 8px;
}
section.plan .droit .text p{
    text-transform: capitalize;
    font-size: 15px;
    padding: 8px;
}


.direction .droit:hover, 
.direction .gauche:hover, 
.genre_film svg:hover, 
.annee svg:hover,
.film .image:hover{
    cursor: pointer;
}
